{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мій магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Ласкаво просимо до мого магазину!</h1>
        <nav class="user-nav">
            {% if user.is_authenticated %}
                <span>
                    Привіт, <a href="{% url 'accounts:profile_edit' %}"><strong>{{ user.username }}</strong></a>!
                </span>
                    <form method="post" action="{% url 'accounts:logout' %}" style="display: inline; margin-left: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="link-button">Вийти</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">Увійти</a>
                <a href="{% url 'accounts:register' %}">Зареєструватися</a>
            {% endif %}
        </nav>
        </header>
        {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
        <div class="container">
    <div class="container">
        {% block content %}
            <p>Завантаження вмісту...</p>
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 — Мій перший Django-проєкт</p>
    </footer>
</body>
</html>


